* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

/* Header */

header {
  height: 64px;
  margin: 0px 24px;
}

.head {
  display: flex;
  padding-top: 16px;
}


/* Header Text */

.colmar {
  color: #696969;
}

.academy {
  color: #d3d3d3;
}

.colmar, .academy {
  font-weight: 600;
  font-size: 20px;
}

.head p {
  padding-top: 5px;
}

.rightside {
  display: flex;
  margin-left: auto;
  width: auto;
}

.top-right {
  color: #696969;
  padding-left: 16px;
  font-size: 18px;
}

/* Body */

.learn {
  max-height: 882px;
  background-color: #d3d3d3;
}

.text {
  float: right;
}

.text h1, .text h2, .text button {
  margin: 20px 0;
}

.text button {
  color: white;
  background-color: #696969;
  padding: 8px 50px;
}

.learn img {
  max-width: 60%;
  margin: 32px 24px;
}

.practice {
  height: 600px;
}

.learning {
  height: 600px;
  background-color: #d3d3d3;
}
