* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

/* Header   border: 1px solid red;  */

header {
  height: 64px;
  margin: 0px 24px;
}

.head {
  display: flex;
  padding-top: 16px;
}


/* Header Text */

.colmar {
  color: #696969;
}

.academy {
  color: #d3d3d3;
}

.colmar, .academy {
  font-weight: 600;
  font-size: 20px;
}

.head p {
  padding-top: 5px;
}

.rightside {
  display: flex;
  margin-left: auto;
  width: auto;
}

.top-right {
  color: #696969;
  padding-left: 16px;
  font-size: 18px;
}


/* Body */

/* First Section */

.learn {
  height: 882px;
  background-color: #d3d3d3;
}

.text h1, .text h2, .text button {
  margin: 20px 0;
  display: inline-block;
}

.text h1 {
  font-size: 70px;
  color: #696969;
}

.text h2 {
  font-size: 35px;
  color: #696969;
  font-weight: 500;
}

.text {
  position: relative;
  top: 30%;
}

.text button {
  color: white;
  background-color: #696969;
  padding: 8px;
  width: 563.969px;
  font-size: 30px;
}

.learn img {
  float: left;
  max-width: 60%;
  padding: 32px 24px;
  padding-right: 48px;
}

/* Second Section */

.practice {
  height: 600px;
}

/* Third Section */

.learning {
  height: 600px;
  background-color: #d3d3d3;
}

.thesis {
  height: 600px;
}
